@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* Font Family */
  --ff-raleway: "Raleway", sans-serif;

  /* Colors */
  --clr-white: #ffffff;
  --clr-black: #000000;
  --clr-blue-200: #DBD9FF;
  --clr-blue-600: #697ED4;
  --clr-blue-850: #1E2D69;
  --clr-blue-900: #0F1B3D;
  --clr-blue-950: #0C122C;

  /* Gradients */
  --gradient-one: linear-gradient(160deg,rgba(30, 45, 105, 1) 0%, rgba(0, 0, 0, 0) 100%);
  --gradient-two: linear-gradient(130deg,rgba(255, 161, 151, 1) 0%, rgba(255, 74, 149, 1) 100%);

  /* Text Presets */
  --txt-preset-1: 700 2.5rem / 1 var(--ff-raleway);
  --txt-preset-2-bold: 700 .875rem / 1.15 var(--ff-raleway);
  --txt-preset-2-regular: 400 .875rem / 1.15 var(--ff-raleway);
  --txt-preset-3-extrabold: 800 .75rem / 1.15 var(--ff-raleway);
  --txt-preset-3-bold: 700 .75rem / 1.15 var(--ff-raleway);
}

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

html,
body {
  position: relative;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

body {
  min-height: 100vh;
  font-size: 1rem;
  line-height: 1.5;
  background-color: var(--clr-blue-900);
  color: var(--clr-white);
  font: var(--txt-preset-2-regular);
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
input,
label {
  font-weight: 700;
  line-height: 1.2;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

img,
picture {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  background-color: none;
  border: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  appearance: textfield;
}

button {
  cursor: pointer;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}

a {
  text-decoration: none;
  color: inherit;
  background-color: none;
}

ul,
ol {
  list-style: none;
}

/* End Reset */

/* Globals */
.main {
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: calc(100% - 3rem);
  margin-inline: auto;
}

@media (min-width: 40rem) {
  .container {
    max-width: 33.75rem;
  }
}

@media (min-width: 62rem) {
  .container {
    max-width: 57.625rem;
  }
}

/* End Globals */
.card__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

@media (min-width: 62rem) {
  .card__container {
    flex-direction: row;
    align-items: flex-end;
    gap: 2rem;
  }
}

.navbar {
  width: 100%;
  background-color: var(--clr-blue-850);
  border-radius: .625rem 6.25rem .625rem .625rem;
  padding: 2.5rem;
}

@media (min-width: 40rem) {
  .navbar {
    width: 21.875rem;
  }
}

.navbar__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 2rem;
}

.navbar__icons {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.navbar__icon {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-blue-950);
  border-radius: .625rem;
}

.storage {
  flex: 1;
  width: 100%;
  background-color: var(--clr-blue-850);
  border-radius: .625rem;
  padding: 2.5rem 2rem;
  position: relative;
}

.storage__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.storage__popup {
  position: absolute;
  width: 11.1875rem;
  height: 4.5rem;
  background-color: var(--clr-white);
  border-radius: .625rem;
  font: var(--txt-preset-1);
  color: var(--clr-blue-950);
  left: 50%;
  bottom: -2.5rem;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4.6875rem 6.25rem -1.875rem rgba(0, 0, 0, 0.2478);
}

.storage__popup-title {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.storage__popup-title-span {
  opacity: .5;
  font: var(--txt-preset-3-bold);
  text-transform: uppercase;
}

.storage__title {
  font: var(--txt-preset-2-regular);
  color: var(--clr-blue-200);
}

.storage__title-span {
  font: var(--txt-preset-2-bold);
}

.storage__bar-container {
  margin-top: 1rem;
  width: 100%;
  height: 1.25rem;
  border-radius: .625rem;
  background-color: var(--clr-blue-900);
  padding: .1875rem;
}

.storage__bar {
  width: 11.875rem;
  height: 100%;
  border-radius: .5rem;
  background: var(--gradient-two);
  position: relative;
}

.storage__bar::after {
  content: "";
  display: block;
  width: .625rem;
  height: .625rem;
  border-radius: 50%;
  background-color: var(--clr-white);
  position: absolute;
  top: .125rem;
  right: .125rem;
}

.storage__info {
  margin-top: .5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font: var(--txt-preset-3-extrabold);
  color: var(--clr-blue-200);
}